<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Properties>
		<Property name="basePath">logs</Property>
	</Properties>

	<Appenders>
		<Syslog name="Syslog" format="RFC5424" host="192.168.59.128"			
		port="1212" protocol="UDP" facility="Local3"
		connectTimeoutMillis="10000" reconnectionDelayMillis="5000" >
		<PatternLayout>
			<pattern><!-- [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} -  -->%msg%n
			</pattern>
		</PatternLayout>
		</Syslog>
			<RollingFile name="fileLogger" fileName="${basePath}/data.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern><!-- [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} -  -->%msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com" level="debug" additivity="true">
			<appender-ref ref="fileLogger" level="debug" />
			<appender-ref ref="Syslog" level="debug" />
		</Logger>
		<Root level="debug" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>

</Configuration>