<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Properties>
		<Property name="basePath">logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="fileLogger"
			fileName="${basePath}/app-info.log"
			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<!-- <Syslog name="Syslog" format="RFC5424" host="192.168.59.128"
			port="7071" protocol="TCP" facility="local3"
			connectTimeoutMillis="10000" reconnectionDelayMillis="5000">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</Syslog> -->

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="edu.bda.MiniProject.Fms" level="debug">
			<appenderRef ref="fileLogger" />
			<appenderRef ref="Syslog" />
		</Logger>
		<Root level="debug" additivity="false">
			<appenderRef ref="console" />
		</Root> 
	</Loggers>

</Configuration>