<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>

	<Appenders>
		
		<RollingFile name="fileLogger2"
			fileName="${basePath}/app-info.log"
			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<!-- Starts a new file when size reaches threshold -->
				<SizeBasedTriggeringPolicy size="10 MB" />
				<!-- causes a rollover once the date/time pattern no longer applies to 
					the active file -->
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		
		<Syslog name="Syslog" format="RFC5424" host="10.0.2.15"
			port="7007" protocol="UDP" facility="local3"
			connectTimeoutMillis="10000" reconnectionDelayMillis="5000">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>

		</Syslog>

		<Console name="console1" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.FraudDetectionProject" level="info"
			additivity="true">
			<appender-ref ref="fileLogger2" level="debug" />
			<appender-ref ref="Syslog" />
		</Logger>
		<Root level="debug" additivity="false">
			<appender-ref ref="console1" />
		</Root>

	</Loggers>

</Configuration>