<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	<Appenders>
	<Syslog name="Syslog" format="RFC5424" host="192.168.132.128"
	port="1212" protocol="UDP" facility="Local3"
	connectTimeoutMilli="1000" reconnectionDelayMilli="5000">
	</Syslog>
	
		<RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="edu.mit" level="debug" additivity="true">
			<appender-ref ref="fileLogger" level="debug" />
		</Logger>
		<Root level="debug" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>

</Configuration>